# Lab 04 â€“ Control Structures: Looping


This lab introduces looping concepts focussing on the `while`, `while True` (similar to do-while in C++) and `for` statements.

## Problems

### 1. Write a program to find the sum of natural numbers upto 100 using `while` and ``while-True` (do-while alternative from C++).

In [7]:
def sum_natural_numbers_1(n):
    _start = 1
    _result = _start

    _start += 1

    while _start < n:
        _result += _start
        _start += 1
    
    return _result

In [9]:
sum_natural_numbers_1(100)

4950

In [17]:
def sum_natural_numbers_2(n):
    _start = 0
    _result = _start

    while True: # alternative to do-while of C++
        _result += _start
        _start += 1
        if _start==n:
            break
    
    return _result

In [18]:
sum_natural_numbers_2(100)

4950

### 2. Reverse a given number and check if it is a palindrome or not.

In [31]:
def is_palindrome(n):
    if n<0:
        return False # negative numbers are not palindromes
    
    _temp_n = n
    _rev_n = 0
    while n>0:
        _rem = n % 10
        _rev_n = _rev_n*10 + _rem
        n //= 10
    
    return _temp_n == _rev_n

In [35]:
is_palindrome(1221)

True

In [32]:
is_palindrome(121)

True

In [33]:
is_palindrome(123)

False

In [34]:
is_palindrome(8)

True

### 3. Generate prime numbers between 2 given limits.

In [44]:
def is_prime(n):
    if n==1:
        return False
    
    for i in range(2,n//2+1):
        if n%i==0:
            return False
        
    return True

In [45]:
def generate_prime(lower_limit, upper_limit):
    x = lower_limit
    y = upper_limit

    for i in range(x,y+1):
        if is_prime(i):
            print(i, " ")

In [47]:
generate_prime(10,70)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67

### 4. `Armstrong Number`: Check if the sum of the cubes of all the digits of an input number equals the number itself.

In [48]:
def is_armstrong(n):
    _temp_n = n
    _sum = 0

    while n>0:
        _rem = n%10
        _sum += pow(_rem,3)
        n //=10
    
    return _sum == _temp_n

In [49]:
is_armstrong(371)

True

In [50]:
is_armstrong(372)

False

### 5. Generate multiplication table for `n` numbers up to `k` terms using nested `for` loops.

In [57]:
def multiplication_table(n, k):
    for i in range(1, n+1):
        for j in range(1, k+1):
            print(f"    {i} * {j} = {i*j}")
        print("*" * 50)

In [58]:
multiplication_table(5,4)

    1 * 1 = 1
    1 * 2 = 2
    1 * 3 = 3
    1 * 4 = 4
**************************************************
    2 * 1 = 2
    2 * 2 = 4
    2 * 3 = 6
    2 * 4 = 8
**************************************************
    3 * 1 = 3
    3 * 2 = 6
    3 * 3 = 9
    3 * 4 = 12
**************************************************
    4 * 1 = 4
    4 * 2 = 8
    4 * 3 = 12
    4 * 4 = 16
**************************************************
    5 * 1 = 5
    5 * 2 = 10
    5 * 3 = 15
    5 * 4 = 20
**************************************************

### 6. `Perfect`: Check whether the given number is perfect or not i.e., sum of all positive divisors of a given number excluding the given number is equal to the number itself.

In [59]:
def is_perfect(n):
    _sum = 0
    for i in range(1,n):
        if n%i==0:
            _sum += i
    
    return _sum == n

In [60]:
is_perfect(28)

True

In [61]:
is_perfect(300)

False

### 7. `Sine` Series: Evaluate the sine series to `n` terms.

**Hint Formulas**

$$
\sin x = \sum_{k=0}^{n-1} (-1)^k \frac{x^{2k+1}}{(2k+1)!}
$$

In [62]:
def factorial(n):
    _prod = 1
    for i in range(1,n+1):
        _prod *= i

    return _prod

In [74]:
def sine_series(x, n):
    _result = 0.0

    for i in range(n):
        # _sign = -1**i # incorrect, due to operator precedence -> -(1**i)
        # _sign = pow(-1,i) # also works as alternative
        
        _sign = (-1)**i 
        _num = x ** (2*i+1) # better than pow() for exponentiation with floats
        _denom = factorial(2*i+1)
        _result += _sign * (_num / _denom) # do not use integer divison `//`

    return round(_result,4)

In [75]:
sine_series(1.0, 3)

0.8417

### 8. `Strong`: Check whether the number is strong or not i.e., Positive number whose sum of the factorial of its digits is equal to the number itself.

In [76]:
def is_strong(n):
    _temp_n = n
    _result = 0

    while n>0:
        _rem = n%10
        _result += factorial(_rem)
        n //= 10

    return _result == _temp_n

In [77]:
is_strong(145)

True

In [78]:
is_strong(1450)

False

### 9. `Generic/Digital Root`: Find the generic root of any number i.e., sum of digits of a number until a single digit is observed.

In [96]:
def find_generic_root(n):
    if n == 0:
        return 0
    
    n = abs(n)

    while n>10:
        _result = 0
        while n > 0:
            _rem = n%10
            _result += _rem
            n //= 10
        n = _result

    return n

In [99]:
# alternate: using recusion with loop

def find_generic_root_rec(n):
    if n == 0:
        return 0
    
    _result = 0
    n = abs(n)

    while n > 0:
        _rem = n%10
        _result += _rem
        n //= 10
    
    return find_generic_root_rec(_result) if _result>9 else _result

In [97]:
find_generic_root(456)

6

In [98]:
find_generic_root_rec(456)

6

### 10. `Floyd's Triangle`: Right Angled Triangle using the natural numbers for a given limit `n`.

In [116]:
def generate_floyds_triangle(n):
    _start = 1
    for i in range(n):
        for j in range(i+1):
            print(f"{_start}", end=" ")
            _start+=1
        print()

In [117]:
generate_floyds_triangle(4)

1
2 3
4 5 6
7 8 9 10

In [118]:
generate_floyds_triangle(6)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21